<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageT}}</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome {{nm}}</p>
    <p>Scream : {{scream nm}}</p>
    {{> footer}}
  </body>
</html>
